<h2>My Heroes</h2>
<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}},
      <span *ngIf="hero.health<50" class="red">Health : {{hero.health}}</span>
      <span *ngIf="hero.health>=50" class="green">Health : {{hero.health}}</span>
      <!-- <ng-container *ngFor="let key of Object.values(hero?.weapon)">
        <span *ngIf="key==50">Content to render when condition is true.</span>
      </ng-container> -->
      
    <!-- </a>
  </li>
</ul> -->

<div class="heroes-menu">
  <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    
    <span *ngIf="hero.health<50" class="red">{{hero.name}}</span>
      <span *ngIf="hero.health>=50" class="green">{{hero.name}}</span>
  </a>
</div>
